@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/SEGOEUI.TTF");
}

@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500&family=Work+Sans&display=swap");

:root {
  --primary: #3aa395;
  --text-primary: #1c7065;
  --text-white: #ffffff;
  --primary-dark: #0d3c35;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inknut Antiqua", serif;
}
.color-primary {
  color: var(--text-primary) !important;
}
.color-white {
  color: var(--text-white);
}
.color-primary-dark {
  color: var(--primary-dark);
}
.backg-primary {
  background-color: var(--primary) !important;
}
.backg-white {
  background-color: #ffffff;
}
.backg-primary-dark {
  background-color: var(--text-primary) !important;
}
.button {
  background: var(--primary);
  border: 0.5px solid var(--primary);
  border-radius: 10px;
  padding: 14px 24px;
}
.main-title {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 73px;
}
.main-sub-title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}
.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 83px;
  /* identical to box height */

  text-transform: uppercase;
}
.section-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.card-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.list-text {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.sub-heading {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.button-text {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 142.5%;
}
.navbar-pad {
  padding: 32px 75px;
}
.navbar-margin {
  margin: auto 270px;
}
.nav-link {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.015em;
}
.title-section {
  padding: 75px 125px;
  background-image: url("../assets/Landing\ section\ background.png");
  height: 100vh;
  /* min-height: 620px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
  /* height: 100%; */
}
.who-we-section {
  padding: 75px 155px;
}
.who-we-section-para {
  padding: 0px 155px;
}
.photo-box {
  margin-top: 60px;
  width: 96px;
  height: 89px;
  background: #ffffff;
  box-shadow: 0px 2.76259px 2.76259px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.padx-300 {
  padding-left: 300px;
  padding-right: 300px;
}
.circle-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(178.36deg, #399a8d 17.74%, #ffffff 147.34%);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  bottom: -4%;
}
.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(52, 111, 98, 0.25);
  border-radius: 20px;
  width: 242px;
  height: 203.97px;
}
.team-box-no {
  font-family: "Inknut Antiqua";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 97.5%;
}
.line1 {
  width: 200px;
  position: absolute;
  right: 55%;
  top: -18%;
}
.line2 {
  position: absolute;
  right: 57%;
  top: 7%;
}
.line3 {
  width: 300px;
  position: absolute;
  right: 60%;
  top: 3%;
}
.line4 {
  position: absolute;
  width: 200px;
  top: -3%;
}
.line5 {
  position: absolute;
  right: 57%;
  bottom: 65%;
}
.why-section {
  padding: 55px 120px 0 0;
}
.what-we-do-section {
  padding: 60px 70px;
}
.do-section {
  align-items: baseline;
  flex-direction: row;
}
.do-box {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  flex-direction: column;
  width: 180px;
  height: 106px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.track-box {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  padding: 38px 0;
}
.track-section {
  padding: 56px 88px 0 88px;
}
.track-box-title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  margin-bottom: 10px;
}
.track-box-para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.015em;
}
.dots1 {
  position: absolute;
  bottom: 30px;
  left: 80px;
}
.dots2 {
  position: absolute;
  top: 30px;
  right: 80px;
}
.deals-section .sub-heading.active {
  color: #0d3c35;
}
.deals-section .sub-heading {
  color: #bacecc;
}

.nav-link::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  left: 0;
  height: 3px;
  width: 100%;
  transform-origin: right top !important;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
  background-color: #ffffff;
}
.nav-link.active::after {
  background-color: #0d3c35;
}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
  transform-origin: left top;
  transform: scale(1, 1);
  background-color: #0d3c35;
}
.hr {
  /* border: .5px solid #656b6b; */
  margin: -11px 90px 30px 90px;
  background-color: #656b6b;
}
.border-image {
  width: fit-content;
  border: 5px solid #3aa395;
  border-radius: 15px;
}
.deals-section-table {
  border-color: #ffffff !important;
}
.border-table {
  overflow: auto;

  border-radius: 20px;
  margin: 0 70px;
}
.border-table table {
  width: 536px;
  height: 425px;
  background: #3aa395;
  margin-bottom: 0;
}
.carousel-indicators {
  top: 300px;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  /* RELIABLE/1 */
  border-radius: 100%;
  border: 0.436404px solid #1c7065;
}
.carousel-indicators li.active {
  background-color: #0d3c35;
}
.roadmap-section {
  padding: 60px 120px;
}
.proposal-section {
  padding: 75px 140px;
}
.sketch-image {
  width: fit-content;
  border: 10px solid #ffffff;
  border-radius: 10px;
  margin: 0 auto;
}
.sketch-section {
  padding: 60px 0;
}
.clients-section {
  padding: 64px 80px;
}
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 20px;
}
.circle img {
  width: 110px;
  height: 112px;
}
.say-section {
  padding: 66px 230px;
  height: 672px;
}
.contact-section {
  padding: 60px 110px;
}
.form {
  padding: 30px 60px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 492px;
}
.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.form-input,
.form-select {
  border: 1.5px solid #3aa395;
  border-radius: 6px;
  padding: 14px 24px;
}
.form-input::placeholder {
  color: #d7cfde;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.footer {
  padding: 64px 127px;
}
.border-map {
  width: fit-content;
  border: 4px solid #ffffff;
  border-radius: 10px;
  width: 321px;
  height: 321px;
}
@media only screen and (max-width: 768px) {
  .title-section,.do-section,.why-section,.say-section,.deals-section,.track-section,.who-we-section,.sketch-section,.clients-section,.contact-section,.padx-300,.who-we-section-para,.proposal-section,.roadmap-section{
    padding: 30px!important;
  }
  .main-title,.main-sub-title,.section-title,.main-sub-title,.list-text,.card-para,.section-para{
    font-size: 1.2rem;
  }
  .track-box-title,.track-box-para{
    font-size: 1rem;
    line-height: 1;
  }
  .track-box{
    width: 100px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 auto!important;

  }
}
